@* Razor view for Hello/Index: sets page title and shows a simple "Hello, BucStop!" message *@
@{
    ViewData["Title"] = "Hello World";
}
<section class="container py-4">
    <h1 class="display-6">Hello, World!</h1>
    <p class="lead">GGB-B is not responsible for any destruction of your pc.</p>
</section>
