# This is a CODEOWNERS file.
# Each line is a file pattern followed by one or more owners.

# Default owners for the entire repository
* @Christopher-Powers @Brofessortec @nixonrs-bucs @CurtisReece @minknd @Ismaelizzy @Zach1204 @ChristopherOaks
